

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*********************************************
* Lista
*********************************************/

li {
  /* line-height: 2; */
  margin-bottom: 0.7em !important;
  margin-top: 0.7em !important;
}

ol li::marker {
  font-weight: bold;
  color: #5280af;
}

ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

/*********************************************
* Corazon
*********************************************/

.heart {
  color: #eb5e28;
  animation: heathing 1s ease infinite;
}

@keyframes heathing {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
/*********************************************
* katex
*********************************************/

.katex {
  font-size: 0.15em; 
  font-family: "Suma", "Resta", "Igual", "Parentesis Izquierdo", KaTeX_Main,
    Times New Roman, serif;
  /* font: normal 1.15em KaTeX_Main, Times New Roman, serif; */
  /* font-size: 1.15em; */
  /* font-weight: 900; */
  line-height: 0.2;
}

/*********************************************
* p
*********************************************/

p {
    text-align: justify!important;
    text-justify: inter-word!important;
    line-height: 1.8!important;
    display: block!important;
  }